.recipe {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
  }
  .recipe ul {
    padding: 0;
    margin-top: .8rem;
  }
  .recipe li {
    list-style-type: none;
    margin-right: 10px;
    color: #777;
  }
  .recipe li::after {
    content: ",";
  }
  .recipe li:last-child::after {
    content: ".";
  }
  .right {
    margin-right: .5rem;
  }
  .method {
    text-align: center;
    line-height: 1.5em;
  }
  .recipe.dark {
    background: #555;
    color: #e4e4e4;
  }
  .recipe.dark h2,
  .recipe.dark .ing {
    color: #e4e4e4;
  }

  @media (max-width: 700px) {
    .recipe {
      max-width: 1200px;
      margin: 2rem 1rem;
      }
      
  }