.signup form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.signup {
    color: #555;
    max-width: 480px;
    margin: 60px auto;
}
.title {
    text-align: center;
    margin-bottom: 2rem;
}
.signup label{
    margin-bottom: 1rem;
}
.siugnup label span {
    display: block;
    margin: 30px 0 10px;
}
.signup .btn {
    display: block;
    width: 480px;
    font-size: 17px;
    color: #fff;
    padding: 12px 20px;
    border: 0;
    border-radius: 4px;
    background-color: #58249c;
    cursor: pointer;
    text-decoration: none;
    margin: 20px auto;
}
.switch {
    text-align: center;
    font-size: 1.15rem;
}
.signup.dark .title,
.signup.dark span,
.signup.dark .switch {
    color: #e4e4e4;
}

@media (max-width: 500px) {
    .signup form {
        margin: 0 1rem;
    }
    .signup .btn {
        width: 349px;
    }
    .signup .switch {
        font-size: 1em;
    }
}