/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* base styles */
html, body, #root {
  height: 100%;
}
body {
  /* font-family: Raleway, sans-serif; */
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: 1.4em;
  background: #dfdfdf;
  color: #333;
}
h1,h2,h3,p {
  margin: 0;
}
input, textarea {
  color: #333;
  padding: 8px;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.page-title {
  text-align: center;
  margin: 40px auto;
  color: #333;
}
.loading, .error {
  text-align: center;
  margin: 40px auto;
}
.error {
  background: crimson;
  color: #fff;
  border-radius: .4rem;
  padding: .2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}
.error-icon {
  margin-right: .5rem;
}
.message{
  background: green;
  color: #fff;
  border-radius: .4rem;
  padding: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  body {
    font-size: 1.2em;
  }
  .error {
    padding: .5rem;
    width: 90%;
  }
} 
@media (max-width: 500px) {
  body {
    font-size: 1em;
  }
} 