.theme-selector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
  }
  .theme-buttons div {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 50%;
  }
  .mode-toggle {
    margin-right: auto;
  }

  @media (max-width: 700px) {
    .theme-selector {
      margin: 20px;
      }
  }
  
  @media (max-width: 500px) {
    .mode-icon {
      margin-left: 1rem
    }
    .theme-buttons {
      margin-right: 1rem;
    }
  }